* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

img {
    max-width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    border: solid;
}

header span {
    font-size: 1.2em;
    font-weight: 600;
}

/* START - MAIN */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* START - STEP-1 */
.step-1 {
    position: relative;
    width: 60%;
    height: 48%;
    /* display: none; */

}

.heading {
    font-size: 3em;
    font-weight: 600;
}

.shapes {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 60%;
    height: 155px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    border-radius: 50%;
    background-color: grey;
}

.triangle {
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 25px;
    width: 155px;
    clip-path: polygon(50% 0, 100% 100%, 50% 100%, 0% 100%);
    background-color: grey;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    background-color: grey;
}

.button {
    width: 210px;
    padding: 15px 0; 
    font-size: 1.4em;
    font-weight: 600;
    border: solid grey;
    border-radius: 5px;
    cursor: pointer;
    background: none;
}

.tick {
    width: 30px;
    height: 60px;
    border-bottom: 5px solid;
    border-right: 5px solid;
    transform: rotate(45deg);
    border-color: white;
}

/* END - STEP-1 */

/* START - STEP-2 */
.step-2 {
    position: relative;
    width: 60%;
    height: 30%;
    display: none;
}

.input {
    width: 70%;
    font-size: 3em;
    padding: 15px;
    caret-color: transparent;
}
/* END - STEP-2 */

/* START - STEP-3 */
.step-3 {
    display: none;
}
/* END - STEP-3 */
