* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    color: white;
}

img {
    max-width: 100%;
}
/* START - MAIN */

.container {
    background-image: url("../images/background-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-top: 50px; 
    display: flex;
    justify-content: space-between;
}

/* START - MENU ICON */
.menu {
    height: 100px;
    width: 100px;
    background-color: black;
    padding: 33px;
    margin-right: 200px;
}

.hamburger-icon {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.hamburger-icon span {
    height: 3px;
    background-color: white;
}
/* END - MENU ICON */


.menu-slide {
    position: absolute;
    width: 16%;
    left: -20%;
    top: 15%;
    padding: 40px 0;
    background-color: black;
    color: white;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    border-radius: 0 20px 20px 0;
    font-size: 1.25em;
    transition: left 3s;
}

 .hamburger-icon:hover ~ .menu-slide {
    display: flex;
    left: 0;
}

.menu-slide:hover {
    left: 0;
}

li img {
  max-height: 75px;  
}
/* START - MAIN */
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    padding-bottom: 20px;
    max-width: 100%;
}

header {
    font-size: 5rem;
    font-weight: 600;
}

.motto h3 {
    font-size: 7rem;
}

.motto h2 {
    font-size: 9.5rem;
}
/* END - MAIN */

/* START - RIGHT */

.established {
    position: relative;
    width: 20%;
}

.established div {
    position: absolute;
    transform: rotate(-90deg);
    top: 15%;
    left: 15%;
}

.established div span {
    font-size: 7rem;
}

.established div h6 {
    font-size: 3rem;
}

/* END - RIGHT */