* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Roboto", sans-serif;
}

img {
    max-width: 100%;
}

body {
    background-color: rgb(42, 43, 48);
}

/* START - HEADER */
header {
    width: 86%;
    margin: 0 auto;
    padding: 30px 0;
}

.cmpy-logo {
    position: absolute;

    width: 10%;
    padding-top: 10px;
}

/* START - PROFILE */

.profile {
    width: 70px;
    margin: 7px 0px 0px auto;
    padding-bottom: 20px;
}

.profile-icon {
    height: 70px;
    border: solid;
    border-radius: 50%;
    background-color: #d8d8d8;
}

.drop-down {
    position: absolute;
    display: none;
    right: 7%;
    top: 13%;
    width: 220px;
    border: solid;
    padding: 10px 10px 10px 20px;
}

.drop-down a {
    display: inline-block;
    width: 100%;
    padding: 10px 0; 
    color: black;
    font-weight: 600;

}

.profile:hover .drop-down {
    display: block;
    background-color: white;
    z-index: 1
}
/* END - PROFILE */
/* END - HEADER */


main {
    padding-bottom: 300px;
}
.dress-container {
    width: 88%;
    margin: 0 auto;
}

/* START - CARD */
.card {
    display: inline-block;
    width: 24.6%;
    padding: 25px;
}

.visual {
    background-color: rgb(36, 37, 42);
}

.add-favorite {
    display: inline-block;
    position: relative;
    left: 88%;
    width: 22px;
    padding: 20px 0 40px 0;
}

i {
    font-size: 1.4em;
}

.solid {
    position: relative;
    color: #87b181;
    top: -22px;
    visibility: hidden;
}

.hollow {
    color: #87b181;
}

.hollow:hover ~ .solid {
    visibility: visible;
}

.dress-image {
    width: 65%;
    margin: 0 auto;
    text-align: center; 
}

.dress-image img {
    max-height: 235px;
}

.dress-size {
    position: relative;
    height: 60px;
    width: 60px;
    background-color: rgb(144, 176, 133);
    border-radius: 50%;
    font-size: 1.5rem;
    text-align: center;
    padding: 15px;
    top: 25px;
    left: 75%;
    color: rgb(36, 37, 42);
    font-weight: 600;
}

.dress-name {
    padding-top: 10px;
    font-weight: lighter;
}

.dress-cost {
    padding: 5px 0 10px 0;
    color: #979797;
    font-weight: 400;
    font-size: 1.5em
}

.add-cart {
    border: solid;
    display: inline-block;
    padding: 10px 20px;
    color: #979797;
}

.add-cart:hover {
    background-color:rgb(144, 176, 133);
    color: white;
}
/* END - CARD */

/* START - FOOTER */
footer {
    position: fixed;
    bottom: 0;
    padding: 40px;
    background-color: black;
    width: 100%;
    text-align: center;
}

footer a {
    padding: 25px;
    font-weight: 600;
    font-size: 1.3em;
}
/* END - FOOTER */
