* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Roboto", sans-serif;
}

img {
    max-width: 100%;
}

body {
    background-color: rgb(42, 43, 48);
}

/* START - HEADER */
header {
    position: relative;
    width: 100%;
    height: 180px;
}

.company-logo {
    position: absolute;
    left: 8%;
    top: 44%;
    width: 10%;
}

/* START - PROFILE */

.profile {
    position: absolute;
    right: 8%;
    top: 44%;
    width: 70px;
    padding-bottom: 20px;
}

.profile-icon {
    height: 70px;
    border: solid;
    border-radius: 50%;
    background-color: #d8d8d8;
    cursor: pointer;
}

.drop-down {
    position: absolute;
    display: none;
    right: 8%;
    top: 100%;
    width: 260px;
    border: solid;
    padding: 10px 10px 10px 20px;
    cursor: pointer;
}

.drop-down a {
    display: inline-block;
    width: 100%;
    padding: 10px 0; 
    color: black;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.profile:hover .drop-down {
    display: block;
    background-color: white;
    z-index: 1
}
/* END - PROFILE */
/* END - HEADER */


.dress-container {
    width: 88%;
    margin: 0 auto;
    margin-bottom: 200px;
}

/* START - CARD */
.card {
    display: inline-block;
    width: 24.6%;
    padding: 25px;
}

.visual-display {
    background-color: rgb(36, 37, 42);
    position: relative;
    height: 435px;
}

.add-favorite {
    /* display: inline-block; */
    position: absolute;
    right: 4%;
    top: 4%;
    cursor: pointer;
}

i {
    font-size: 1.4em;
}

.solid {
    position: absolute;
    left: 0;
    color: #87b181;
    visibility: hidden;
}

.hollow {
    color: #87b181;
}

.hollow:hover ~ .solid {
    visibility: visible;
}

.dress-image {
    width: 65%;
    margin: 0 auto;
    text-align: center; 
    padding-top: 100px;
}

.dress-image img {
    max-height: 235px;
}

.dress-size {
    position: absolute;
    height: 60px;
    width: 60px;
    bottom: -7%;
    right: 5%;
    background-color: rgb(144, 176, 133);
    color: rgb(36, 37, 42);
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding: 15px;
}

.dress-name {
    padding-top: 10px;
    font-weight: 400;
    font-size: 1.45em;
}

.dress-cost {
    padding: 5px 0 10px 0;
    color: #979797;
    font-weight: 300;
    font-size: 1.3em;
}

.add-cart {
    border: solid;
    display: inline-block;
    padding: 10px 20px;
    color: #979797;
    cursor: pointer;
    font-weight: 600;
}

.add-cart:hover {
    background-color:rgb(144, 176, 133);
    color: black;
}
/* END - CARD */

/* START - FOOTER */
footer {
    position: fixed;
    bottom: 0;
    padding: 40px;
    background-color: black;
    width: 100%;
    text-align: center;
}

footer a {
    padding: 25px;
    font-weight: 600;
    font-size: 1.3em;
}
/* END - FOOTER */
